<div class="jumbotron">
    <h1>WCF e Web API</h1>
    <p class="lead">Exemplos de implementação de serviços na plataforma .NET.</p>
</div>

@Html.ActionLink("Consumindo um serviço WCF", "TesteWCF", "IMC")
<br />
@Html.ActionLink("Consumindo um serviço Web API - WebApi.Client", "TesteWebApiClient", "IMC")
<br />
@Html.ActionLink("Consumindo um serviço Web API - RestSharp", "TesteRestSharp", "IMC")
<br />
@Html.ActionLink("Consumindo um serviço Web API - jQuery", "TesteJQuery", "IMC")